.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #a47149, #d8b08c);
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #8b5e3c;
  color: white;
  border: none;
}
